.bg-dark{

  background: rgba(0,0,0 , 0.5) !important;

}

.inner-navigation {
  max-width: 1170px;

  margin-right: auto;
  margin-left: auto;
}

.pd-top-bottom {

  padding-top: 32px;
  padding-bottom: 32px;
}
