.container-fluid.fixed-top{
    background-color: rgba(0, 0, 0, 1) !important;
}

#logoQ, #logoV {
    opacity: 1 !important;
}

#header-container {
    height: 400px;
    background-color: #474D5D;
    background-position: center;
    background-size: 100%;
}



.height100 {

    height: 100px;
}

.height500 {
    height: 500px;
}

#upper-filter button {
    border-radius: 0 !important;
    font-family: "Roboto", sans-serif;
    width: 100%;
    margin: 5px;
    box-shadow: 6px 20px 25px -7px rgba(0,0,0,0.2);


}

#upper-filter button:hover,  button:hover{
    transform: translateY(-5px);
    box-shadow: 6px 20px 25px -7px rgba(0,0,0,0.6);
    transition: all 0.1s;
    background-color: white;
}




.filters button {
    border-radius: 0;
}


.arrow-down {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 60px solid #dfe0e1;
}

.bg-lightgray{
    background-color: #dfe0e1;
}

.bg-lightgray-shadow{
    background-color: #dfe0e1;
    box-shadow: 6px 20px 25px -7px rgba(0,0,0,0.46);
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;

    border-top: 60px solid #243242;

}

.arrow-down {
  border-top: 60px solid #254c2e4f;
}

.navbar.fixed-top {
  padding: 0 !important;
  opacity: 1!important;
}
