#background-dark {

  background: rgba(0, 0, 0, 0.5);

}

.inner-navigation {
  max-width: 1200px;

  margin-right: auto;
  margin-left: auto;
}

#paddingNav {
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s;

}

#logoQ {
  opacity: 0;
  padding: 0;
  margin-top: -30px;
  margin-bottom: -30px;

}

#logoV {
  opacity: 0;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 0;

}


.navbar-brand {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  font-size: 1.25rem;

  white-space: nowrap;
}

@media (max-width: 767.98px) {
  #logoV {
    transition: 1s;
    margin-left: -15px;
  }

}

@media (max-width: 628px) {
  #brandWidth {
    width: 150px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;


  }
}

@media (min-width: 768px) {
  #logoV {
    transition: 0.3s;
    margin-left: 20px;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;
  }

}


.underlining:after {
  display: block;
  content: '';
  border-bottom: solid 1px #ffffff;
  transform: scaleX(0);
  transition: 0.3s;

}

.underlining:hover:after {
  transform: scaleX(1);
}

.underlining.active:after {
  transform: scaleX(1);


}

li a {
  white-space: nowrap;
}


/*Slide show style */


video {
  object-fit: cover;
  object-position: center;
  max-height: 700px;
  filter: grayscale(100%);

}


#video-carousel-header:hover {
  border-top: 6px solid white;
  border-right: 6px solid white;
  border-left: 6px solid white;
  transition: 1s;
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 30%;
  left: 15%;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;

}

.carousel-caption.name-caption {
  position: absolute;
  right: 15%;
  top: 30%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  border: none;

}

#name-home {
  font-size: 400%;
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  #name-home {
    font-size: 300%;
    transition: 0.3s;


  }

  .carousel-caption.properties a {
    font-size: 90% !important;
  }
}

@media (max-width: 1000px) {
  #name-home {
    font-size: 200%;
    transition: 0.3s;


  }

  .carousel-caption.properties a {
    font-size: 75% !important;
  }

  .carousel-caption {
    bottom: 10%;
  }
}

@media (max-width: 630px) {
  #name-home {
    font-size: 200%;
    transition: 0.3s;


  }

  .carousel-caption.name-caption {
    top: 40%;
  }

  .carousel-caption.properties a {
    font-size: 25% !important;
  }

  .carousel-caption {
    padding: 5px;
    left: 20%;
    right: 20%;


  }
}

.navbar-toggler:hover {
  border: 1px solid white;
}


.dropdown:hover > .dropdown-menu {
  display: block;

}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}


.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.9);
  border: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.7);
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: black;
  background-color: white;
}

.dropdown-toggle::after {
  display: none;

}

#name-home::before {
  content: "Das bin ich.";
  display: block;
  background: none;
  font-size: 75%;

}


.container.icon-container {
  text-align: center;
  display: flex;
  background-color: darkgray;
  border-radius: 50%;
  width: 80px;
  height: 80px;

}

.row.icon-container {
  text-align: center;
  display: flex;
  background-color: darkgray;
  border-radius: 50%;
  width: 80px;
  height: 80px;

}


.section-title h1 {
  display: inline-block;
  position: relative;
  font-family: 'Oswald', sans-serif;
}


.section-title h1:before,
.section-title h1:after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #0f0f0f;
  top: 50%;
  width: 30px;
}


.section-title h1:before {
  right: 100%;
  margin-right: 15px;
}


.section-title h1:after {
  left: 100%;
  margin-left: 15px;
}


.bg-me {
  display: inline-block;
  background-color: #898C96;
  padding: 10px;
  color: white !important;
  border-radius: 10px;
}

.name-img-title {
  width: 100%;
  background-color: #474D5D;
  margin-top: -35px;
  position: relative;
  padding: 15px;
}

.name-img-title h3, h5 {
  color: white;
  text-align: center;
}


.portfolio-section {
  background-color: #474D5D !important;
}


.skill-section {
  height: auto;
  background-color: #EFEFEF !important;
}


.quote-style {
  margin: 10px 0 0 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 125%;

}


.keyfact-container {
  font-size: 200%;
  font-weight: bold;
}

.font-color-grey {
  color: #595858;

}

.font-style-thin {
  font-weight: lighter;
}


.best-in-text-size {
  font-size: 75%;
}


/* portfolio container zoom */

.element-item:hover .overlay {
  transform: scale(1);
}

.port-item {
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center
}

.text-end {
  text-align: right;
}

.text-start {
  text-align: left;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
  margin: 0;
  padding: 2px;
  opacity: 0.5;
}


.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-hover-zoom img {
  transition: transform 1s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(2) rotate(15deg);


}

.border-customized {
  border: 2px solid transparent;
}

.port-filter {
  margin: 0;
  padding: 0;
  left: 0;
}

.port-filter ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

.port-filter ul li {
  display: block;
  text-align: center;
  text-decoration: none;
  float: left;
  color: white;
  font-weight: lighter;
  margin: 3px;

}

.port-filter ul li a {
  color: white;

}


.port-filter ul li::after {
  content: "/";
  position: relative;
  margin: 3px;


}

.port-filter ul li:last-child::after {
  content: "";
  position: relative;
}

.port-filter ul li a.is-checked span, .port-filter ul li a:hover span {
  cursor: pointer;
  color: #3c3c3c;
  background-color: white;
  border-radius: 3px;

}

.port-filter ul li a.is-checked span, .port-filter ul li a span {
  padding: 4px;
}


.progress-container {
  margin: auto;
  width: 120px;
  height: auto;
}

.progress-inner .col-lg-2 {
  margin: auto;
  float: left;
}

.col-lg-12 .row.text-center {
  font-size: 10pt;
  margin-left: 3px;
  margin-right: 3px;
}

#horizontal-progress-bar .col-lg-12 .col-lg-6 {
  margin: auto;
  float: left
}

.normal-progress-bar {
  margin: 15px;
  width: auto;
  height: auto;
  position: relative;
}


.freelancer-section {
  height: auto;
  background-color: #474D5D;

}

#freelancer-text {
  color: white;
  font-size: 200%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}


button {
  padding: 10px;
  background: none;
  border-radius: 4px;
  border: 3px solid white;
  color: white;
}

button:hover {
  padding: 7px;
  border: 6px solid white;
  transition: 0.3s;
}

button.cv {
  background: #595858;
}

.cv:hover {
  background: white;
  color: #474D5D;
}


#company-section {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 100) 100%
  ), linear-gradient(to top, rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 100) 100%), url("../img/business_background.jpg");
  background-size: cover;
  background-position: bottom;
  filter: grayscale(100%);
  height: 700px;
}


/* company slide */
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: transparent;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before, .slider::after {
  background: transparent;
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.slide img {
  margin-top: 20px;
}


#contact-section {
  background: #EFEFEF;
  height: 700px;
}


#footer-section {
  height: 200px;
  background: #333333;
}

