/* resume */
#my-resume-section {
  background-color: #FFFFFF !important;
}

#resume-lists {

  width: auto;
}

#resume-lists ul {
  list-style: none;
}

#resume-lists li {
  list-style: none;
}

#resume-lists {
  background-image: url('../img/line.png');
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;

}

.my-present {
  display: inline;
  padding: 10px;
  background-color: deepskyblue;
  border: 3px solid greenyellow;
  border-radius: 10px;
  font-size: 200%;
  text-transform: uppercase;
}

.my-education {
  height: auto;
  width: 70%;
  padding: 10px;
  font-size: 150%;
  text-transform: uppercase;
  color: white;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: sticky;
  background-color: #474D5D;
  border: 1px solid transparent;
  border-radius: 10px;


}

.my-work {
  position: sticky;
  height: auto;
  width: 50%;
  padding: 10px;
  font-size: 150%;
  text-transform: uppercase;
  color: white;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #474D5D;
  border: 1px solid transparent;
  border-radius: 10px;
}


.section-left-side {
  text-align: left;
  padding: 4px;

}


.section-right-side {
  text-align: right;
  padding: 4px;
}

.dot-left {
  float: right;
  margin: -15% -43px 0 0;
  color: #474D5D;
  border-radius: 50%;

}

.dot-right {
  float: left;
  margin: -15% 0 0 -43px;
  color: #474D5D;
  border-radius: 50%;

}

.bubble-arrow-left {
  float: right;
  margin: -15% -15px 0 0;
  color: #D3D3D3;
  opacity: 0;
}

.bubble-arrow-right {
  float: left;
  margin: -15% 0 0 -15px;
  color: #D3D3D3;
  transform: rotate(180deg);
  opacity: 0;
}


.left {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.left:hover .dot-left {
  background-color: #474D5D;
  transition: 0.3s;
}

.left:hover .bubble-arrow-left {
  opacity: 1;
  transition: 0.5s;
}

#left1:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}


#left2:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}


#left3:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}


.right:hover .dot-right {
  background-color: #474D5D;
  transition: 0.3s;
}

.right:hover .bubble-arrow-right {
  opacity: 1;
  transition: 0.5s;
}

#right1:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right2:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right3:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right4:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right4:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right5:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}


.left-column li {
  margin-right: 15px;
}

.right-column li {
  margin-left: 15px;
}

#left1 {
  margin-top: 20%;

}

#left2 {
  margin-top: 90%;
}

#left3 {
  margin-top: 20%;
}

#right1 {
  margin-bottom: 20%;
}

#right2 {
  margin-top: 10%;
}

#right3 {
  margin-top: 10%;
}

#right4 {
  margin-top: 10%;
}

#right5 {
  margin-top: 20%;
}




.left-column:hover .my-education {
  opacity: 1;
  transition: 0.3s;

}


.right-column:hover .my-work {
  opacity: 1;
  transition: 0.3s;
}





