/* resume */
#resume-lists {

  width: auto;
}

#resume-lists ul {
  list-style: none;
}

#resume-lists li {
  list-style: none;
}

.section-left-side {
  text-align: left;
  padding: 4px;

}

.section-right-side {
  text-align: right;
  padding: 4px;
}


#resume-lists {
  background-image: url('../img/line.png');
  background-size: auto;
  background-position: center;
  background-repeat: repeat-y;

}

.my-present {
  height: 75px;
  padding: 10px;
  margin: 0 40% 0 42%;
  background-color: deepskyblue;
  border: 3px solid greenyellow;
  border-radius: 10px;
  font-size: 200%;
  text-transform: uppercase;
}

.my-education {
  height: 75px;
  width: auto;
  padding: 10px;
  font-size: 200%;
  text-transform: uppercase;
  color: white;
  opacity: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: sticky;
  background-color: #474D5D;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: bold;

}

.my-work {
  position: sticky;
  height: 75px;
  width: auto;
  padding: 10px;
  font-size: 200%;
  text-transform: uppercase;
  color: white;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #474D5D;
  border: 1px solid transparent;
  border-radius: 10px;
}


#left1:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}


#left2:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}


#left3:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#left1:hover .bubble-arrow-left {
  opacity: 1;
  transition: 0.5s;
}

#left2:hover .bubble-arrow-left {
  opacity: 1;
  transition: 0.5s;
}

#left3:hover .bubble-arrow-left {
  opacity: 1;
  transition: 0.5s;
}

#start-icon {
  transform: translateX(10px);
  background-image: url('../img/line.png');
  background-size: auto;
  margin-top: 0;
  background-position: center;
  background-repeat: repeat-y;
}


#my-resume-section {
  background-color: #FFFFFF !important;
}


#right1:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right2:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right3:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right4:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right4:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right5:hover {
  background-color: lightgray;
  border-radius: 5px;
  transition: 0.5s;
}

#right1:hover .bubble-arrow-right {
  opacity: 1;
  transition: 0.5s;
}

#right2:hover .bubble-arrow-right {
  opacity: 1;
  transition: 0.5s;
}

#right3:hover .bubble-arrow-right {
  opacity: 1;
  transition: 0.5s;
}

#right4:hover .bubble-arrow-right {
  opacity: 1;
  transition: 0.5s;
}

#right5:hover .bubble-arrow-right {
  opacity: 1;
  transition: 0.5s;
}


#left1 {
  margin-top: 20%;
}

#left2 {
  margin-top: 90%;
}

#left3 {
  margin-top: 20%;
}

#right1 {
  margin-bottom: 20%;
}

#right2 {
  margin-top: 10%;
}

#right3 {
  margin-top: 10%;
}

#right4 {
  margin-top: 10%;
}

#right5 {
  margin-top: 90%;
}


.bubble-arrow-left {
  float: right;
  margin: -15% -17px 0 0;
  color: #D3D3D3;
  opacity: 0;
}

.bubble-arrow-right {
  float: left;
  margin: -15% 0 0 -17px;
  color: #D3D3D3;
  transform: rotate(180deg);
  opacity: 0;
}

.left-column:hover .my-education {
  opacity: 1;
  transition: 0.3s;

}


.right-column:hover .my-work {
  opacity: 1;
  transition: 0.3s;
}


.dot-left {
  float: right;
  margin: -15% -70px 0 0;
  color: #474D5D;
  border-radius: 50%;

}

.dot-right {
  float: left;
  margin: -15% 0 0 -50px;
  color: #474D5D;
  border-radius: 50%;

}


#right1:hover .dot-right {
  background-color: #474D5D;
  transition: 0.3s;
}

#right2:hover .dot-right {
  background-color: #474D5D;
  transition: 0.3s;
}

#right3:hover .dot-right {
  background-color: #474D5D;
  transition: 0.3s;
}

#right4:hover .dot-right {
  background-color: #474D5D;
  transition: 0.3s;
}

#right5:hover .dot-right {
  background-color: #474D5D;
  transition: 0.3s;
}

#left1:hover .dot-left {
  background-color: #474D5D;
  transition: 0.3s;
}

#left2:hover .dot-left {
  background-color: #474D5D;
  transition: 0.3s;
}

#left3:hover .dot-left {
  background-color: #474D5D;
  transition: 0.3s;
}
